/* styles.css */

body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    position: relative;
  }
  
  .left, .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  
  .left {
    background-color: #bdbdbd;
  }
  
  .right {
    background-color: #97d5a1;
  }
  
  .progress-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  .progress-bar {
    width: 60%;
    height: 6px;
    background-color: #f7be00;
    margin: 0 auto;
  }
  
  .progress-text, .star {
    font-size: 0.875rem;
  }
  
  .progress-text {
    margin-top: 10px;
  }
  
  .star {
    color: #f7be00;
    margin-top: 5px;
    display: inline-block; /* 별 모양을 가로로 배열하기 위해 추가 */
  }
  
  .top-right {
    display: none;
  }
  